/*place global styles here */
html, body { @apply h-full overflow-hidden; }

:root {
    --chess-light-tile-color: #dad9b5;
    --chess-dark-tile-color: #964d37;
}

.base-page-container {
    @apply container mx-auto px-2 py-8;
}