/*place global styles here */
html, body { 
    @apply h-full overflow-hidden;
    background: rgb(82,74,106);
    background: radial-gradient(circle, rgba(82,74,106,1) 0%, rgba(53,48,68,1) 78%);
}

:root {
    --chess-light-tile-color: #dad9b5;
    --chess-dark-tile-color: #964d37;
}

.base-page-container {
    @apply container mx-auto p-4;
}

.paginator-label {
  @apply hidden;
}



