/*place global styles here */
html, body { 
    @apply h-full overflow-hidden;
}
body {
    background-color:hsla(340,6%,8%,1);
    background-image:
    radial-gradient(at 0% 0%, hsla(340,6%,16%,1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(89,100%,47%,0.15) 0px, transparent 50%);
}

:root {
    --chess-light-tile-color: #dad9b5;
    --chess-dark-tile-color: #964d37;
}

.base-page-container {
    @apply container mx-auto p-4;
}

.paginator-label {
  @apply hidden;
}



